@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: 3px solid olivedrab;
}

body{
    margin: 0;
    font-family: Roboto, sans-serif;

}

div{
    padding: 8px 200px;

}
.hero{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hero,
.footer {
    background-color: #1f2937;
}

ul, 
div.main .subtext,
.footer{
    font-size: 18px;
    color: #e5e7eb;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 100px;
    
}
a {
    color: #e5e7eb;
}
.header{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
    padding-left: 0;
    flex: 1;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    flex: 1;

}

.main{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

}
.main-text{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 0;
    flex: 1;
    gap: 10px;
    max-width: 500px;
}
.title-text{
    display: flex;
    padding: 10px;
    margin: 0;
    flex: 1;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
   
}
.subtext{
    display: flex;
    text-align: left;
    padding: 10px;
    flex: 1;
    max-width: 400px;
}

.main img{
    display: flex;
    flex: 1;
    padding: 0;
    border-radius: 15px;
    margin:0;
    height: 300px;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.image-row{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding: 5px;
    flex: 1;
    width: 950px;

}
.media{
    display: flex;
    flex: 1;
    padding:5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.media p{
    display: flex;
    padding: 5px;
}
.information img{
    display: flex;
    padding: 0;
    border-radius: 15px;
    margin:0;
    height: 130px;  
}
.information #aspect img{
    width: 150px;
    display: flex;

}
.quote{
    background-color: #e5e7eb;
}
.quote p{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}
.quote p{
    padding: 10px 16px 0 10px;
    margin-bottom: 0;
}
p#quote-source{
    text-align: right;
    font-weight: 800;
    font-size: 28px;
    margin-top: 0;
    padding-top: 0;
    padding-right: 16px;
}
.call-container{
    display: flex;
    padding: 50px;
}
.cta{
    display: flex;
    border-radius: 8px;

}
button{
    border-radius: 8px;
    height: auto;
    width: 100px;
    font-weight: 700;
    color: white;
    padding: 6px;
    font-size: 15px;
}
button,
.cta {
    background-color: #3882f6;
}


